.main-loadProduct form div {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  gap: 10px;
  align-items: center;
}

.buttons-container a, .buttons-container button{ 
  width: 80%;
}

.buttons-container a button {
  width: 100%;
  margin: 0;
}